services:
  dw:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=$DW_NAME
      - POSTGRES_USER=$DW_USER
      - POSTGRES_PASSWORD=$DW_PASSWORD
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      dw:
        condition: service_healthy
    env_file:
      - .env


volumes:
  postgres_data: