[tool.ruff]
select = ["E", "F", "W", "I", "UP"]
line-length = 88

[tool.ruff.format]
quote-style = "double"

[tool.mypy]
ignore_missing_imports = true
strict = true
plugins = ["pydantic.mypy"]
exclude = [
    "initdb/",
    "tests/",
]

[tool.pytest.ini_options]
pythonpath = "src"